
      <%- include('header'); %>
      
      <!-- END_HEADER -->
      <div id="weather-list" class="row">
        <!-- left menu -->
        <div class="col-12 col-sm-12 col-md-3 col-lg-2">
          <div class="list-group" id="list-tab" role="tablist">
            <a class="list-group-item list-group-item-light list-group-item-action active" id="list-current-list" data-bs-toggle="list" href="#list-current" role="tab" aria-controls="current">Current</a> 
            <a class="list-group-item list-group-item-light list-group-item-action" id="list-forecast-list" data-bs-toggle="list" href="#list-forecast" role="tab" aria-controls="forecast">Forecast</a>
          </div>
        </div>
        <!-- content -->
        <div class="col-12 col-sm-12 col-md-9 col-lg-10">
          <div class="tab-content" id="nav-tabContent">
            <!-- current data content -->
            <div class="tab-pane fade show active info-wrapper" id="list-current" role="tabpanel" aria-labelledby="list-current-list">
              <div class="row weather-row">
                <div class="current-header col-12">
                  <h3 class="city-name"><%= currentData.location %></h1>
                  <p class="date text-muted"><%= currentData.date %></p>
                  <p><%= currentData.description %></p>
                </div>
                <div class="weather-info row">              
                  <div class="temp">                    
                    <p class="temp-weather">
                      <img src="<%=currentData.iconURL%>" alt="weather-image">
                      <%= currentData.temp %>°C                    
                    </p>
                    <p class="temp-minmax text-muted"><%= currentData.temp_min %>°C - <%= currentData.temp_max %>°C</p>
                  </div>
                </div>
                <div class="weather-extra-info col-12">
                  <p>
                    Feeling like: <%= currentData.feels_like %>°C <br>
                    Humidity: <%= currentData.humidity %>% <br>
                    Wind Speed: <%=currentData.speed%> km/h
                  </p>
                </div>
              </div>   
            </div>

            <!-- forecast content -->
            <div class="tab-pane fade" id="list-forecast" role="tabpanel" aria-labelledby="list-forecast-list">
              <div class="row">
                <!-- week days tab -->
                <div class="col-12">
                  <div class="forecast-tab list-group list-group-horizontal" id="list-tab" role="tablist">
                    <a class="forecast-item flex-fill list-group-item list-group-item-action list-group-item-dark active" id="list-0-list" data-bs-toggle="list" href="#list-0" role="tab" aria-controls="0" style="background-image: url('<%=forecastData[0].iconURL%>'); background-size: contain; background-repeat: no-repeat;"> <%= (forecastData[0].date.slice)(0,3) %> </a>
                    <a class="forecast-item flex-fill list-group-item list-group-item-action list-group-item-dark" id="list-1-list" data-bs-toggle="list" href="#list-1" role="tab" aria-controls="1" style="background-image: url('<%=forecastData[1].iconURL%>'); background-size: contain; background-repeat: no-repeat;"> <%= (forecastData[1].date).slice(0,3) %> </a>                    
                    <a class="forecast-item flex-fill list-group-item list-group-item-action list-group-item-dark" id="list-2-list" data-bs-toggle="list" href="#list-2" role="tab" aria-controls="2" style="background-image: url('<%=forecastData[2].iconURL%>'); background-size: contain; background-repeat: no-repeat;"> <%= (forecastData[2].date).slice(0,3) %> </a>
                    <a class="forecast-item flex-fill list-group-item list-group-item-action list-group-item-dark" id="list-3-list" data-bs-toggle="list" href="#list-3" role="tab" aria-controls="3" style="background-image: url('<%=forecastData[3].iconURL%>'); background-size: contain; background-repeat: no-repeat;"> <%= (forecastData[3].date).slice(0,3) %> </a>
                    <a class="forecast-item flex-fill list-group-item list-group-item-action list-group-item-dark" id="list-4-list" data-bs-toggle="list" href="#list-4" role="tab" aria-controls="4" style="background-image: url('<%=forecastData[4].iconURL%>'); background-size: contain; background-repeat: no-repeat;"> <%= (forecastData[4].date).slice(0,3) %> </a>
                  </div>
               </div>
                <!-- content referent to each button -->
                <div class="col-12">
                  <div class="tab-content" id="nav-tabContent">
                    
                    <!-- DAY 0 -->
                    <div class="tab-pane fade show active" id="list-0" role="tabpanel" aria-labelledby="list-0-list">
                      <div class="row weather-row">
                        <div class="info-wrapper">                            
                          <div class="forecast-header col-12">
                            <p class="date text-muted"><%= forecastData[0].date %></p>
                            <p><%= forecastData[0].description %></p>
                          </div>
                          <div class="weather-info row">
                            <div class="temp">
                              <p class="temp-weather">
                                <img src="<%=forecastData[0].iconURL%>" alt="weather-image">
                                <%= forecastData[0].temp %>°C                              
                              </p>
                              <p class="temp-minmax text-muted"><%= forecastData[0].temp_min %>°C - <%= forecastData[0].temp_max %>°C</p>
                            </div>
                          </div>
                          <div class="weather-extra-info col-12">
                            <p>
                              Precipitation: <%= forecastData[0].pop %>% <br>
                              Humidity: <%= forecastData[0].humidity %>% <br>
                              Wind Speed: <%=forecastData[0].speed%> km/h
                            </p>
                          </div>
                        </div>
                        <div class="forecast-chart" id="canvasDay0" data-graphics="<%= graphicsData[0] %>">
                            <canvas id="myChart0"></canvas>
                        </div>
                      </div> 
                    </div>

                    <!-- DAY 1 -->
                    <div class="tab-pane fade" id="list-1" role="tabpanel" aria-labelledby="list-1-list">                     
                      <div class="row weather-row">
                        <div class="info-wrapper">
                          <div class="forecast-header col-12">
                            <p class="date text-muted"><%= forecastData[1].date %></p>
                            <p><%= forecastData[1].description %></p>
                          </div>                    
                          <div class="weather-info row">
                            <div class="temp">
                              <p class="temp-weather">
                                <img src="<%=forecastData[1].iconURL%>" alt="weather-image">
                                <%= forecastData[1].temp %>°C                              
                              </p>
                              <p class="temp-minmax text-muted"><%= forecastData[1].temp_min %>°C - <%= forecastData[1].temp_max %>°C</p>
                            </div>
                          </div>
                          <div class="weather-extra-info col-12">
                            <p>
                              Precipitation: <%= forecastData[1].pop %>% <br>
                              Humidity: <%= forecastData[1].humidity %>% <br>
                              Wind Speed: <%=forecastData[1].speed%> km/h
                            </p>
                          </div>  
                        </div>                      
                        <div class="forecast-chart" id="canvasDay1" data-graphics="<%= graphicsData[1] %>">
                          <canvas id="myChart1"></canvas>
                        </div>
                      </div>                      
                    </div>
                    
                    <!-- DAY 2 -->
                    <div class="tab-pane fade" id="list-2" role="tabpanel" aria-labelledby="list-2-list">
                      <div class="row weather-row">
                        <div class="info-wrapper">
                          <div class="forecast-header col-12">
                            <p class="date text-muted"><%= forecastData[2].date %></p>
                            <p><%= forecastData[2].description %></p>
                          </div>
                          <div class="weather-info row">
                            <div class="temp">
                              <p class="temp-weather">
                                <img src="<%=forecastData[2].iconURL%>" alt="weather-image">
                                <%= forecastData[2].temp %>°C
                              </p>
                              <p class="temp-minmax text-muted"><%= forecastData[2].temp_min %>°C - <%= forecastData[2].temp_max %>°C</p>
                            </div>
                          </div>
                          <div class="weather-extra-info col-12">
                            <p>
                              Precipitation: <%= forecastData[2].pop %>% <br>
                              Humidity: <%= forecastData[2].humidity %>% <br>
                              Wind Speed: <%=forecastData[2].speed%> km/h
                            </p>
                          </div>                          
                        </div>
                        <div class="forecast-chart" id="canvasDay2" data-graphics="<%= graphicsData[2] %>">
                          <canvas id="myChart2"></canvas>
                        </div>                        
                      </div>
                    </div>

                    <!-- DAY 3 -->
                    <div class="tab-pane fade" id="list-3" role="tabpanel" aria-labelledby="list-3-list">
                      <div class="row weather-row">
                        <div class="info-wrapper">
                          <div class="forecast-header col-12">
                            <p class="date text-muted"><%= forecastData[3].date %></p>
                            <p><%= forecastData[3].description %></p>
                          </div>
                          <div class="weather-info row">                            
                            <div class="temp">
                              <p class="temp-weather">
                                <img src="<%=forecastData[3].iconURL%>" alt="weather-image">
                                <%= forecastData[3].temp %>°C
                              </p>
                              <p class="temp-minmax text-muted"><%= forecastData[3].temp_min %>°C - <%= forecastData[3].temp_max %>°C</p>
                            </div>
                          </div>
                          <div class="weather-extra-info col-12">
                            <p>
                              Precipitation: <%= forecastData[3].pop %>% <br>
                              Humidity: <%= forecastData[3].humidity %>% <br>
                              Wind Speed: <%=forecastData[3].speed%> km/h
                            </p>
                          </div>
                        </div>                        
                        <div class="forecast-chart" id="canvasDay3" data-graphics="<%= graphicsData[3] %>">
                          <canvas id="myChart3"></canvas>
                        </div>
                      </div>
                    </div>

                    <!-- DAY 4 -->
                    <div class="tab-pane fade" id="list-4" role="tabpanel" aria-labelledby="list-4-list">
                      <div class="row weather-row">
                        <div class="info-wrapper">
                          <div class="forecast-header col-12">                            
                            <p class="date text-muted"><%= forecastData[4].date %></p>
                            <p><%= forecastData[4].description %></p>
                          </div>
                          <div class="weather-info row">                            
                            <div class="temp">
                              <p class="temp-weather">
                                <img src="<%=forecastData[4].iconURL%>" alt="weather-image">
                                <%= forecastData[4].temp %>°C
                              </p>
                              <p class="temp-minmax text-muted"><%= forecastData[4].temp_min %>°C - <%= forecastData[4].temp_max %>°C</p>
                            </div>
                          </div>
                          <div class="weather-extra-info col-12">
                            <p>
                              Precipitation: <%= forecastData[4].pop %>% <br>
                              Humidity: <%= forecastData[4].humidity %>% <br>
                              Wind Speed: <%=forecastData[4].speed%> km/h
                            </p>
                          </div>
                        </div>
                        <div class="forecast-chart" id="canvasDay4" data-graphics="<%= graphicsData[4] %>">
                          <canvas id="myChart4"></canvas>
                        </div>
                      </div>
                    </div>
                    
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- INIT FOOTER -->
      
      <%- include('footer'); %>